<h2>My Heroes</h2>

<!-- Without routing over hero-detail component -->
<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes" 
    (click)="onSelect(hero)" 
    [class.selected]="hero === selectedHero">
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul> -->
<!-- 
  * Binding the `HeroesComponent.selectedHero` to the element's `hero` property.
  * [hero]: an example of property binding.
-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->


<!-- With routing over hero-detail component -->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
  </li>
</ul>